@charset "utf-8";
body { padding: 0px; box-sizing: border-box;}
.popup { display: none; position: fixed; left: 50%; top: 50%; z-index: 100; padding:52px 60px 60px; width: 820px; height: 833px; transform: translate(-50%, -50%); box-sizing: border-box; background: #fff;}
.popup h2 { padding: 0 0 42px; border-bottom: 3px solid #444; font-weight: normal;font-size:36px; color:#222; text-align: center; line-height: 100%;}
.popup .close { position: absolute; right:40px; top: 40px; width: 41px; height: 41px; background: url(../images/btn-close.png) no-repeat; color:transparent;}
.popup .con { padding: 40px 78px; border-bottom:1px solid #e8e8e8;}

.agree { position: relative; margin: 28px 0 0; padding: 0 30px; height: 60px; border:1px solid #e8e8e8; line-height: 60px;}
.agree label span { color:#de4f41;}
.agree a.view { position: absolute; right:30px; top:15px; width: 93px; height: 30px; border:1px solid #ddd; text-align: center; line-height: 30px; border-radius: 3px;}

.dim { display: none;position: fixed; left: 0; top: 0; z-index: 99; width: 100%; height: 100%; background: rgba(0,0,0,0.5);}


table.type1 { border-bottom: 1px solid #e8e8e8;}
table.type1 th,
table.type1 td { padding: 0 0 20px;}
table.type1 th { padding-top: 15px; font-size: 14px; color:#222; text-align: left; font-weight: normal; vertical-align: top;}
table.type1 th span { color:#de4f41; }
table.type1 th em { color:#999;}
table.type1 textarea { height: 116px;}
table.type1 tr:last-child th,
table.type1 tr:last-child td { padding: 0 0 30px;}

input[type="checkbox"] { position: absolute; left: -3000%;}
input[type="checkbox"] + label { font-size: 14px; color:#666; }
input[type="checkbox"] + label:before { content: ""; display: inline-block; width:20px; height:20px; border:1px solid #ddd; margin: 0 10px 0 0; background: #f4f4f4; vertical-align: middle; box-sizing: border-box; transition: all 0.3s;}
input[type="checkbox"]:checked + label:before { border: 7px solid #666;}
.txt_center { text-align: center; padding: 30px 0 0;}
.btn_type1 { display: inline-block;width: 170px; height: 50px; background: #03CAFC; line-height: 50px; color:#fff; text-align: center; border-radius: 3px;}


















